<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="TRACE" monitorInterval="300">
	<!-- 修改status看影响 -->
	<properties>
		<!-- <property name="filenameLog">logs/info.log</property> -->
		<!-- <property name="booklistFilenameLog">/Users/liufeng/yuewen/booklist/activeusers/logs/info.log</property> -->
		<property name="booklistFilenameLog">${sys:datasync.booklist:-${sys:user.home}/yuewen/booklist/activeusers/logs}</property>
	</properties>

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout charset="UTF-8"
				pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingRandomAccessFile name="booklistInfoLog" fileName="${booklistFilenameLog}/info.log"
			filePattern="${booklistFilenameLog}/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">

			<Filters>
				<ThresholdFilter level="warn" onMatch="DENY"
					onMismatch="NEUTRAL" />
				<ThresholdFilter level="info" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>

			<PatternLayout>
				<Charset>UTF-8</Charset>
				<Pattern>%d{HH:mm:ss.SSS} %p %c [%t] %m%n</Pattern>
			</PatternLayout>

			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />

		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="booklistErrorLog" fileName="${booklistFilenameLog}/error.log"
			filePattern="${booklistFilenameLog}/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz" immediateFlush="false">

			<Filters>
				<ThresholdFilter level="error" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>

			<PatternLayout>
				<Charset>UTF-8</Charset>
				<Pattern>%d{HH:mm:ss.SSS} %p %c [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />

		</RollingRandomAccessFile>

		<RollingRandomAccessFile name="booklistWarnLog" fileName="${booklistFilenameLog}/warn.log"
			filePattern="${booklistFilenameLog}/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log.gz">

			<Filters>
				<ThresholdFilter level="warn" onMatch="ACCEPT"
					onMismatch="DENY" />
			</Filters>

			<PatternLayout>
				<Charset>UTF-8</Charset>
				<Pattern>%d{HH:mm:ss.SSS} %p %c [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
				<SizeBasedTriggeringPolicy size="800 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />

		</RollingRandomAccessFile>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
		</Root>

		<Logger name="com.dancer.provalidation.number" level="warn"
			additivity="false">
			<AppenderRef ref="booklistWarnLog" />
		</Logger>
		
		<!-- includeLocation="true"  -->
		<!-- <Logger  name="com.dancer.provalidation.log" level="info" additivity="false"> -->
		<AsyncLogger name="com.dancer.provalidation.log" level="info" additivity="false">
			<AppenderRef ref="booklistInfoLog" />
			<AppenderRef ref="booklistErrorLog" />
		</AsyncLogger>
		<!-- </Logger> -->
	</Loggers>
</Configuration>